<%= simple_form_for(@customer, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h5><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h5>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone %>
    <div class ="controls">
      <%= f.text_field :phone %>
    </div>
  </div>
  <div class="control-group">
      <%= f.association :company %>
  </div>
  <div class="control-group">
      <%= f.association :roles %>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit :class=>"btn btn-primary" %>
    </div>
  </div>
<% end %>
