<h2>Listing customers</h2>

<table class="table table-hover">
  <tr class="container-fluid">
    <th class="span4">Name</th>
    <th class="span4">Phone</th>
    <th class="span4"></th>
  </tr>

<% @customers.each do |customer| %>
  <tr class="container-fluid">
    <td class="span4"><%= customer.name %></td>
    <td class="span4"><%= customer.phone %></td>
    <td class="span4">
      <%= link_to 'Show', customer, :class => "btn" %>
      <%= link_to 'Edit', edit_customer_path(customer), :class => "btn" %>
      <%= link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn" %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Customer', new_customer_path, :class => 'btn-primary btn-large ' %>
