<%= simple_form_for(@order, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :order_date %>
  <%= f.input :product %>
<!--
  <%= f.hint 'No special characters in product name, please!' %>
  <%= f.error :product, :id => 'product_error' %>
  <%= f.full_error :token %>
-->
  <%= f.association :customer, :collection => Company.all(:order => 'name'), :prompt => "Choose a Company" %>
  <%= f.button :submit, :class => 'btn btn-inverse' %>

<% end %>
