<h3> Details of the order </h3>

<p id="notice"><%= notice %></p>

<p>Order date: <%= @order.order_date %>
<p>Track_no: <%= @order.track_no %>
<p>Details: <%= @order.details %>
<p>Customer: <%= @order.customer_id %>
<p>Employee: <%= @order.employee_id %>
<p>Products: <%= @order.product_ids %>

<p>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
