<h3> Rake run </h3>

<% if params[:task].nil? %>
  <p> Please specific <b>rake_task_name</b> in url: .../run?<b>task=rake_task_name</b> &nbsp;&nbsp;&nbsp;&nbsp; -- without quotation around rake_task_name <p>
  <p> example: .../run?task=db:seed </p>
<pre>
Params:
  <%= params %>
</pre>

<% else %>
  <p> Your command was: <b> rake <%= params[:task] %> </b> <p1>
<hr/>
<h5> Captured stdout </h5>
<pre>
<% @rake_stdout_lines.rewind %>
<% @rake_stdout_lines.each do |line| %>
<%= line %>
<% end %>
</pre>
<pre>
<% @rake_stderr_lines.rewind %>
<% @rake_stderr_lines.each do |line| %>
<%= line %>
<% end %>
</pre>
<!--
<h4> Parameters details </h4>
<pre>
Params:
  <%= params %>
Params[:task]:
  <%= params[:task] %>
Rake::task object:
  <%= p @rake_task.inspect %>
</pre>
-->
<% end %>
