<%= simple_form_for(@company, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
<div>
    <%= f.input :name %>
    <div class="control-group">
      <!-- %= f.label :location %-->
      <label class="string optional control-label" for="location_id"> Location </label>
      <div class="controls"><%= f.collection_select :location_id, Location.all, :id, :address %></div>
    </div>
</div>
<div>
    <%= f.button :submit, :class => 'btn btn-inverse' %>
</div>
<% end %>
