<h3>About Company</h3>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Location:</b>
  <%= @company.location_id %> - <%= Location.find_by_id(@company.location_id).address  if !Location.find_by_id(@company.location_id).nil? %>
</p>

<p>
  <b>Picture:</b>
  <%= @company.picture_id %> - <%= image_tag url_for(:action => 'blob_picture', :controller => 'pictures', :id => @company.picture_id ) %>
</p>



<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
