<%= simple_form_for(@model_datum) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :boolean1 %>
    <%= f.input :boolean2 %>
    <%= f.input :date1 %>
    <%= f.input :date2 %>
    <%= f.input :datetime1 %>
    <%= f.input :datetime2 %>
    <%= f.input :decimal1 %>
    <%= f.input :decimal2 %>
    <%= f.input :float1 %>
    <%= f.input :float2 %>
    <%= f.input :integer1 %>
    <%= f.input :integer2 %>
    <%= f.input :string1 %>
    <%= f.input :string2 %>
    <%= f.input :time1 %>
    <%= f.input :time2 %>
    <%= f.input :timestamp1 %>
    <%= f.input :timestamp2 %>
    <%= f.input :text1 %>
    <%= f.input :text2 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
