<h1>Listing model_data</h1>

<table>
  <tr>
    <th>Boolean1</th>
    <th>Boolean2</th>
    <th>Date1</th>
    <th>Date2</th>
    <th>Datetime1</th>
    <th>Datetime2</th>
    <th>Decimal1</th>
    <th>Decimal2</th>
    <th>Float1</th>
    <th>Float2</th>
    <th>Integer1</th>
    <th>Integer2</th>
    <th>String1</th>
    <th>String2</th>
    <th>Time1</th>
    <th>Time2</th>
    <th>Timestamp1</th>
    <th>Timestamp2</th>
    <th>Text1</th>
    <th>Text2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @model_data.each do |model_datum| %>
  <tr>
    <td><%= model_datum.boolean1 %></td>
    <td><%= model_datum.boolean2 %></td>
    <td><%= model_datum.date1 %></td>
    <td><%= model_datum.date2 %></td>
    <td><%= model_datum.datetime1 %></td>
    <td><%= model_datum.datetime2 %></td>
    <td><%= model_datum.decimal1 %></td>
    <td><%= model_datum.decimal2 %></td>
    <td><%= model_datum.float1 %></td>
    <td><%= model_datum.float2 %></td>
    <td><%= model_datum.integer1 %></td>
    <td><%= model_datum.integer2 %></td>
    <td><%= model_datum.string1 %></td>
    <td><%= model_datum.string2 %></td>
    <td><%= model_datum.time1 %></td>
    <td><%= model_datum.time2 %></td>
    <td><%= model_datum.timestamp1 %></td>
    <td><%= model_datum.timestamp2 %></td>
    <td><%= model_datum.text1 %></td>
    <td><%= model_datum.text2 %></td>
    <td><%= link_to 'Show', model_datum %></td>
    <td><%= link_to 'Edit', edit_model_datum_path(model_datum) %></td>
    <td><%= link_to 'Destroy', model_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Model datum', new_model_datum_path %>
