<p id="notice"><%= notice %></p>

<p>
  <b>Boolean1:</b>
  <%= @model_datum.boolean1 %>
</p>

<p>
  <b>Boolean2:</b>
  <%= @model_datum.boolean2 %>
</p>

<p>
  <b>Date1:</b>
  <%= @model_datum.date1 %>
</p>

<p>
  <b>Date2:</b>
  <%= @model_datum.date2 %>
</p>

<p>
  <b>Datetime1:</b>
  <%= @model_datum.datetime1 %>
</p>

<p>
  <b>Datetime2:</b>
  <%= @model_datum.datetime2 %>
</p>

<p>
  <b>Decimal1:</b>
  <%= @model_datum.decimal1 %>
</p>

<p>
  <b>Decimal2:</b>
  <%= @model_datum.decimal2 %>
</p>

<p>
  <b>Float1:</b>
  <%= @model_datum.float1 %>
</p>

<p>
  <b>Float2:</b>
  <%= @model_datum.float2 %>
</p>

<p>
  <b>Integer1:</b>
  <%= @model_datum.integer1 %>
</p>

<p>
  <b>Integer2:</b>
  <%= @model_datum.integer2 %>
</p>

<p>
  <b>String1:</b>
  <%= @model_datum.string1 %>
</p>

<p>
  <b>String2:</b>
  <%= @model_datum.string2 %>
</p>

<p>
  <b>Time1:</b>
  <%= @model_datum.time1 %>
</p>

<p>
  <b>Time2:</b>
  <%= @model_datum.time2 %>
</p>

<p>
  <b>Timestamp1:</b>
  <%= @model_datum.timestamp1 %>
</p>

<p>
  <b>Timestamp2:</b>
  <%= @model_datum.timestamp2 %>
</p>

<p>
  <b>Text1:</b>
  <%= @model_datum.text1 %>
</p>

<p>
  <b>Text2:</b>
  <%= @model_datum.text2 %>
</p>


<%= link_to 'Edit', edit_model_datum_path(@model_datum) %> |
<%= link_to 'Back', model_data_path %>
