<%= simple_form_for(@picture, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <!-- %= f.input :uuid, :readonly => true, :class => 'input-xxlarge' % -->
      <div class="control-group float optional">
        <%= f.label :uuid %>
         <div class="controls">
          <%= f.input_field :uuid, :readonly => true, :class => 'input-xxlarge' %>
          </div>
      </div>
      <%= f.input :imageable_id, :disabled => true %>
      <%= f.input :imageable_type, :disabled => true  %>
      <%= f.input :content_type, :disabled => true  %>
      <%= f.input :store_loc, :disabled => true  %>

      <div class="control-group float optional">
        <%= f.label :store_uri %>
        <div class="controls">
          <%= f.input_field :store_uri,  :class => 'input-xxlarge' %>
        </div>
      </div>

      <div class="control-group float optional">
        <%= f.label :local_data %>
        <div class="controls">
            <%= image_tag(url_for(:action => 'blob_picture', :id => @picture.id)) unless (@piture.blank? && @picture.local_data.blank?)  %> <%= f.file_field  :local_data, :value => "Select a file", :class => "btn" %>
         </div>
       </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
