<h3>Listing pictures</h3>

<table class="table">
  <tr>
    <th>uuid</th>
    <th>imageable id</th>
    <th>imageable type</th>
    <th>image type</th>
    <th>store type</th>
    <th>store uri</th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.uuid %> </td>
    <td><%= picture.imageable_id %> </td>
    <td><%= picture.imageable_type %> </td>
    <td><%= picture.image_type %> </td>
    <td><%= picture.store_type %> </td>
    <td><%= picture.store_uri %> </td>
    <td><%= link_to 'Show', picture %> <%= link_to 'Edit', edit_picture_path(picture) %> <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Picture', new_picture_path %>
