<h3>Listing roles</h3>

<table class="table">
  <tr>
    <th class="span4">Name</th>
    <th class="span8"></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td class="span4"><%= role.name %></td>
    <td class="span8"><%= link_to 'Show', role %> <%= link_to 'Edit', edit_role_path(role) %> <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Role', new_role_path , :class => 'btn btn-inverse'%>
