<h3>Listing roles</h3>

<div style="background-color:#ccc">
  <h4> Classic Plain Approach </h4>
  <table class="table">
    <tr>
      <th class="span4">Name</th>
      <th class="span8"></th>
    </tr>

  <% @roles.each do |role| %>
    <tr>
      <td class="span4"><%= role.name %></td>
      <td class="span8"><%= link_to 'Show', role %>
                        <%= link_to 'Edit', edit_role_path(role) %>
                        <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </table>

  <br/>

  <%= link_to 'New Role', new_role_path , :class => 'btn btn-inverse'%>

</div>

<hr>

<div style="background-color:#ddd">
  <h4> Ajax Dynamic Approach (js) </h4>
  <div id='roles_dynamic' style="margin-left:10px">
  </div>
  <br/>
  <%= link_to " Refresh Roles", roles_path, :class =>"btn icon-refresh", :remote => true, :id => "refresh-roles"  %>
  <!-- < %= link_to ' New Role', new_role_path , :class => 'btn icon-plus-sign', :remote => true % > -->


    <!-- Button to trigger modal -->
    <a href="#myModal" role="button" class="btn icon-plus-sign" data-toggle="modal"> New Role</a>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
           <button id="new_role_name_close" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h3 id="myModalLabel">New Role</h3>
        </div>
        <div class="modal-body">
           <%=  form_tag '/roles', :remote => true, :method => :post %>
            <input id="new_role_name" type="text" name="role[name]" placeholder="name of new role"/>
            <br/>
            <button class="btn btn-inverse" type="submit" onclick="javascript: $('#new_role_name_close').click(); $('#refresh-roles').click() " >Add New</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
           </form>
        </div>
        <script>

        </script>
    </div>
</div>
