<p id="notice"><%= notice %></p>


<p>
  <strong>name:</strong>
  <%= @gmap_user.address %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gmap_user.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @gmap_user.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @gmap_user.longitude %>
</p>

<!-- < %= gmaps4rails(@gmap_all_marks) % > -->
<%= gmaps(:markers => {:data => @gmap_all_marks, :options => { :raw => '{ animation: google.maps.Animation.BOUNCE }' } },
          :map_options => { :raw => '{ disableDefaultUI: true, scrollwheel: false }' }) %>
<%= yield :scripts %>



<%= link_to 'Edit', edit_gmap_user_path(@gmap_user) %> |
<%= link_to 'Back', gmap_users_path %>
