
<tr><td>
<p>
  <b><%= product.name %> </b>
  <b>$</b><%= product.price %>
  <b>picture(s)</b> <b><%=  product.picture_ids %></b>
  <% product.picture_ids.each do |pic_id| %>
    <%= image_tag url_for(:action => 'blob_picture', :controller => 'pictures', :id => pic_id ), :size => "60x60" %>
  <% end %>
</p>
<p> <%= link_to 'Edit', edit_product_path(product) %>  |
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
</td></tr>
