<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= page_title_mobile_name %></title>
  <%= stylesheet_link_tag    "application_mobile", :media => "all" %>
  <%= javascript_include_tag "application_mobile" %>

  <%= csrf_meta_tags %>
</head>
<body>

<div data-role="page">
<%= yield %>
</div>

</body>
</html>
